{% comment %}theme-check-disable{% endcomment %}
{% assign cardwidth = cardwidth %}
{% unless cardwidth %}
    {% assign cardwidth = "640" %}
{% endunless %}

{% unless cardheight %}
    {% assign cardheight = "360" %}
{% endunless %}

{% assign cardheight = cardheight %}
{% assign producttag = product.metafields.badge.badge1 %}

   {% for tag in product.tags %}
      {% if tag contains 'Special' %}
       {% assign specialbox = 'true' %}
      {% endif %}

      {% if tag contains 'Award' %}
        {% assign awardbox = 'true' %}
      {% endif %}

      {% if tag contains 'Final Sale' %}
        {% assign finalsale = 'true' %}
       {% endif %}
 
    {% endfor %}              
    
    {% assign image = product.featured_media.preview_image %}
    {% assign sectionid = section_id %}
    {% assign productid = product.id %}
    {% assign producttag = product.metafields.badge.badge1 %}

    <div class="col d-flex">
    <div class="img-wrapper img-{{ product.id }} d-flex">

        <div class="card d-flex flex-fill border-0">
            <div class="card-img-top need-hover">

                {% if image != blank %} 
                    <div class="inner-img">

                    <a href="javascript:void(0);" id="productInfoAnchor-{{ section_id }}-{{ product.id }}" product-handle="{{ product.handle }}" product-badge="{{ producttag }}"
                        product-price="{% if product.price_varies %} from {{ product.price_min | money_without_trailing_zeros }} {% else %} {{ product.price | money_without_trailing_zeros }} {% endif %}"
                    ><img class="card-img-top" width="{{ cardwidth }}" height="{{ cardheight }}" src="{{ image | img_url : 'master' }}" loading="lazy" alt="{{ product.title }}" 
                    ></a>
                    {% unless product.available %}                        
                        <div class="text-hover">SOLD OUT</div>                             
                        {% else %}
                        <div class="text-hover"><svg class="heart-badge" alt="quick shop">{% render 'icon-bag' %}</svg></br>QUICK SHOP</div>     
                    {% endunless %}
                    
                    </div>
                  
                {% else %}     
                <div class="inner-img">        
                        {{ 'product-1' | placeholder_svg_tag : 'inner-img' }}    
                </div>        
                {% endif %}

                
            </div>
            
            <div class="card-body d-flex flex-column justify-content-start bg-light text-center pb-1">
                <p class="text-product-title"><a class="text-product-link" href="{{ product.url }}">{{ product.title }}</a></p>    
                <p span class="text-line"></p>
                <div style="height:auto;">
                <p>{% if product.compare_at_price_max > 0 %}                                    
                    {% render 'discount', product : product , finalsale : finalsale %}<svg class="tag-badge">{% render 'tag-badge' %} </svg></br>
                  <del><span style="color: #AB0000;">{{ product.compare_at_price | money_without_trailing_zeros }}</span></del>
                
                {% endif %}

                {% if product.price_varies %} from {{ product.price_min | money_without_trailing_zeros }} {% else %} {{ product.price | money_without_trailing_zeros }} {% endif %}</p>            
                {%- render 'button-wishlist', product: product -%}
                </div>

                {% comment %} {% assign prddesc = product.description %} 
                {% render 'product_description' , product_original_description : prddesc, description_type: 'short'  %}  %}  {% endcomment %}
                {% comment %} {{ product_short_description}} {% endcomment %}
                <div style="pointer-events:none;">
                    {% if specialbox == 'true' %}      
                        {% assign specialbox = 'false' %}              
                        {% assign iconstyle = '' %} 
                        <svg class="star-badge">{% render 'star-badge' %}</svg>  
                    {% else %}
                        {% assign iconstyle = 'style="transform:translateX(-35px);"' %} 
                    {% endif %} 

                    {% if awardbox == 'true' %}     
                        {% assign awardbox = 'false' %}                                                     
                        <svg class="award-badge" {{ iconstyle }}>{% render 'award-badge' %}</svg>                  
                    {% endif %}   
                    {% if producttag != blank %}
                        <span class="badge rounded-0 badge-text-topright">{{ producttag }}</span>              
                    {% endif %}            
                  
                </div>  
            </div>        
          </div>
    </div> 
</div>
{% comment %}theme-check-enable{% endcomment %}
