{% comment %}theme-check-disable{% endcomment %}
{% assign cardwidth = cardwidth %}
{% unless cardwidth %}
    {% assign cardwith = "150" %}
{% endunless %}

{% unless cardheight %}
    {% assign cardheight = "150" %}
{% endunless %}

{% assign cardheight = cardheight %}

{% for tag in product.tags %}
    {% if tag contains 'Special' %}
     {% assign specialbox = 'true' %}
    {% endif %}

    {% if tag contains 'Award' %}
      {% assign awardbox = 'true' %}
    {% endif %}

    {% if tag contains 'Final Sale' %}
      {% assign finalsale = 'true' %}
     {% endif %}
  {% endfor %}        
  {% assign producttag = product.metafields.badge.badge1 %}
      
{% assign image = product.featured_media.preview_image %}
<div class="col d-flex my-2 bg-none">
    <div class="img-wrapper d-flex">
    <div class="card bg-light d-flex flex-fill border-1 border-secondary rounded-0">
      <div class="row">
        <div class="col-auto ms-0 bg-none"> 
           
            <div class="inner-img" style="min-width:{{ cardwidth }}px;">
                <a href="javascript:;" id="productInfoAnchor-{{ section_id }}-{{ product.id }}" product-handle="{{ product.handle }}" product-badge="{{ producttag }}"
                    product-price="{% if product.price_varies %} from {{ product.price_min | money_without_trailing_zeros }} {% else %} {{ product.price | money_without_trailing_zeros }} {% endif %}">      
                <img src="{{ image | img_url : 'master' }}" loading="lazy" alt="{{ product.title }}" class="card-img-top flex-fill" width="{{ cardwidth }}" height="{{ cardheight }}" style="max-height:{{ cardheight }}px;max-width:{{ cardwidth }}px;object-fit:cover;"></a>
                <div class="text-hover">
                  {% unless product.available %}                        
                        <div class="text-hover">SOLD OUT</div>                             
                        {% else %}
                        <div class="text-hover"><svg class="heart-badge" alt="quick shop">{% render 'icon-bag' %}</svg></br>QUICK SHOP</div>     
                    {% endunless %}
                </div>
            </div>
        </div>
        <div class="col me-1 bg-none" style="z-index:990;">
          <div class="row my-0 pt-1 px-0 bg-none">                      
            <div class="card-body ps-0 pe-1 py-0 bg-none">
              <h6 class="text-product-title" style="font-size:1rem;">                    
              <a class="text-product-link" href="{{ product.url }}">{{ product.title }}</a></h6>                    
            </div>
          </div>  
          <div class="row my-0 py-0 px-0 bg-none">
            <div class="card-body px-1 py-0 bg-none">      
              <div>{% if product.compare_at_price_max > 0 %}                
                {% render 'discount', product : product , finalsale : finalsale %}<svg class="tag-badge">{% render 'tag-badge' %} </svg></br>
                {% assign finalsale = 'false' %}                
              </div>
                <del><span style="color: #AB0000;">{{ product.compare_at_price | money_without_trailing_zeros }}</span></del>            
            {% endif %}

            {% if product.price_varies %} from {{ product.price_min | money_without_trailing_zeros }} {% else %} {{ product.price | money_without_trailing_zeros }} {% endif %}
            </div>

            <div style="pointer-events:none;">
                {% if specialbox == 'true' %}      
                    {% assign specialbox = 'false' %}              
                    {% assign iconstyle = '' %} 
                    <svg class="star-badge">{% render 'star-badge' %}</svg>  
                {% else %}
                    {% assign iconstyle = 'style="transform:translateX(-35px);"' %} 
                {% endif %} 

                {% if awardbox == 'true' %}     
                    {% assign awardbox = 'false' %}                                                     
                    <svg class="award-badge" {{ iconstyle }}>{% render 'award-badge' %}</svg>                  
                {% endif %}     
                {% if producttag != blank %}
                  <span class="badge rounded-0 badge-text-bottomleft">{{ producttag }}</span>              
                {% endif %}                 
            </div>  
          </div>
        <div>{%- render 'button-wishlist', product: product , wishlistpos: 'right' -%}<style scoped>
          .wishlist-badge {  
              left: auto;
              right: 5px !important;
          }
          @media only screen and (max-width: 992px) {
              .container {
                max-width: 100% !important;
              }
            }
      </style></div>

        </div>
      </div>
    </div>
    </div>
  </div>


  {% comment %}theme-check-disable{% endcomment %}
