<!-- /templates/customers/account.liquid -->
<div class="container py-5">
  {% if customer.default_address %}
    <h1 class="py-2">Account</h1>
    <div class="row">
    <div class="col-12 col-md-4">
    <h3>Account Details</h3>
    <p>{{ customer.default_address | format_address }}</p>
    <a href="{{ routes.account_addresses_url }}">View Addresses</a>
    <span class="badge bg-success">{{ customer.addresses_count}}</span>
    </div>
    </div>     
  {% endif %}
  
  <div class="col-12 col-md-8 mt-4">
    <h3 class="mb-3">Orders</h3>
    {% paginate customer.orders by 10 %}
    {% if customer.orders.size != 0 %}
       <div class="table-responsive">
        <table class="table table-bordered">
        <thead>
        <tr class="bg-light">
        <th>Order #</th>
        <th>Fulfillment & Payment Status</th>
        <th>Order Date</th>
        <th>Amount</th>
        </tr>
        </thead>
        <tbody>
          {% for order in customer.orders %}
            <!-- order details here -->
            <tr>
            <td><a href="{{ order.customer_url }}">{{ order.name }}</a></td>
            <td><span class="{% if order.fulfillment_status == 'fulfilled' %} badge bg-primary" {% endif %} style="text-transform: uppercase;">{{ order.fulfillment_status_label }}</span>
            <span class="{% if order.financial_status == 'paid' %} badge bg-success" {% endif %} style="text-transform: uppercase;">{{ order.financial_status_label }}</span></td>
            <td>{{ order.created_at | time_tag: format: 'date' }}</td>
            <td>{{ order.total_price | money_without_trailing_zeros }}</td>
            </tr>
          {% endfor %}   
        </tbody>
        </table>
      </div> 

    {% else %}
    <p>You haven't placed any orders yet.</p>
  {% endif %}
    {{ paginate | default_pagination }}
    {% endpaginate %}
  
  </div>
  <div id="customer_orders">
  </div>
  
</div>
