<!-- /templates/customers/addresses.liquid -->
<div class="container my-5">
    <h2 class="lead">My Address</h2>
    <button class="btn-reg" data-bs-toggle="modal" data-bs-target="#newAddressModal">Add New Address</button>
    <div class="row row-cols-md-4 row-cols-1 my-5 gx-2">
    {% for address in customer.addresses %}
        <div class="col">
            <div class="card">
                <div class="card-body">
                    {{ address | format_address }}
                </div>
                <div class="card-footer">
                    <form action="/account/addresses/{{ address.id }}" 
                    method="post"
                    data-confirm-message="Delete adress">
                    <input type="hidden" name="_method" value="delete">    
                    <button class="btn-reg">Delete</button>
                </form>
                
                </div>
            </div>
        </div>        
    {% endfor %}
    </div>
</div>

<div class="modal fade" id="newAddressModal" tabIndex="-1" aria-labelledby="newAddressModalLabel" aria-hidden="true" style="z-index:1250;">
    {% form 'customer_address', customer.new_address %}
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="newAddressModalLabel">Add New Adress</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="div col-12 mb-3">
                    <label for="first_name" class="form-label">First Name</label>
                    <input id="AddressFirstNameNew" type="text" value="{{ form.first_name }}" name="address[first_name]" size="30" class="form-control"/>
                </div>
                <div class="div col-12 mb-3">    
                    <label for="last_name" class="form-label">Last Name</label>
                    <input id="AddressLastNameNew" type="text" value="{{ form.last_name }}" name="address[last_name]" size="30" class="form-control"/>
                </div>    
                <div class="div col-12 mb-3">
                    <label for="company" class="form-label">Company</label>
                    <input id="AddressCompanyNew" type="text" value="{{ form.company }}" name="address[company]" class="form-control"/>
                </div>
                <div class="div col-12 mb-3">    
                    <label for="address1" class="form-label">Address 1</label>
                    <input id="AddressAddress1New" type="text" value="{{ form.address1 }}" name="address[address1]" class="form-control"/>
                </div>    
                <div class="div col-12 mb-3">
                    <label for="address2" class="form-label">Address 2</label>
                    <input id="AddressAddress2New" type="text" value="{{ form.address2 }}" name="address[address2]" class="form-control"/>
                </div>
                <div class="div col-12 mb-3">    
                    <label for="city" class="form-label">City</label>
                    <input id="AddressCityNew" type="text" value="{{ form.city }}" name="address[city]" class="form-control"/>
                </div>    
                
                <!-- See docs for @shopify/theme-addresses to support Country and Province -->
                <div class="div col-12 mb-3">
                    <label for="country" class="form-label">Country</label>
                    <select id="AddressCountryNew" name="address[country]" class="form-control">{{ all_country_option_tags}}</select>
                </div>
                <div class="div col-12 mb-3">   
                    <label for="province" class="form-label">Province</label>
                    <select id="AddressProvinceNew" name="address[province]" class="form-control"></select>
                </div>   
                <div class="div col-12 mb-3">
                    <label for="zip" class="form-label">Zip/Post Code</label>
                    <input id="AddressZipNew" type="text" value="" name="address[zip]" class="form-control"/>
                </div>
                <div class="div col-12 mb-3">   
                    <label for="phone" class="form-label">Phone Number</label>
                    <input id="AddressPhoneNew" type="tel" value="" name="address[phone]" class="form-control"/>
                </div>                    
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn-reg">Save Address</button>
            </div>
        </div>        
    </div>
        {{ form.errors | default_errors }}       
        
        {% endform %}
</div>
