{% comment %}theme-check-disable{% endcomment %}
{{ 'application.css' | asset_url | stylesheet_tag }} 

{%- liquid 
  assign hero_url = section.settings.image | img_url: 'master'
  assign section_id = section.settings.section_id 
  assign divider_heading = section.settings.title 
  assign divider_desc = section.settings.divider_description | strip_html
  -%} 
  
  <section class="py-5 bg-center {{ section_id }}-bg-cover"> 
    <div class="container py-5">
      <div class="row px-1">
        <div class="col-lg-6 ms-auto">
          <h2 class="hero-heading">{{ divider_heading }}</h2>
          <p class="text-muted">{{ divider_desc }}</p>
        </div>
      </div>
    </div>
    <style scoped>              
        .{{ section_id }}-bg-cover {
           background: url({{ hero_url }}) no-repeat center center;
           background-size: cover;                    
        }                              
    </style>      


  <div class="container py-5">
  
    <div>
      {% if section.settings.image == nil %}
        <h1>{{ page.title }}</h1>
        <div class="feature_divider"></div>
      {% endif %}
  
      {{ page.content }}
  
      {% form 'contact' %}
        {% if form.posted_successfully? %}
          <p class="quote">{{ 'contact.form.post_success' | t }}</p>
        {% endif %}
  
        {% if form.errors %}
          <p class="quote">{{ 'general.forms.post_error' | t }}</p>
  
         {% assign message = 'contact.form.message' | t %}
          <ul class="center">
            {% for field in form.errors %}
              {% if field == 'form' %}
                <li>
                  {{ form.errors.messages[field] }}
                </li>
              {% else %}
                <li>
                  {% assign field_name = field | replace: 'body', message %}
                  {{ 'general.forms.post_field_error_html' | t: field: field_name, error: form.errors.messages[field] }}
                </li>
              {% endif %}
            {% endfor %}
           </ul>
        {% endif %}
  
         <div class="col-md-6 col-12 form-floating my-3">  
          {% assign name_attr = 'contact.form.name' | handle %}
          <input class="form-control" type="text" id="contactFormName" name="contact[{{ name_attr }}]" placeholder="{{ 'contact.form.name' | t }}" autocapitalize="words" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.name }}{% endif %}" required="required">
          <label for="contactFormName">{{ 'contact.form.name' | t }}</label> 
        </div>
         

        <div class="col-md-6 col-12 form-floating my-3">  
          <input class="form-control" type="email" id="contactFormEmail" name="contact[email]" placeholder="{{ 'contact.form.email' | t }}" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}" required="required">
          <label for="contactFormEmail">{{ 'contact.form.email' | t }}</label>
         </div>        
  
        <div class="col-md-6 col-12 form-floating my-3">  
        <textarea class="form-control" rows="5" id="contactFormMessage" name="contact[body]" placeholder="{{ 'contact.form.message' | t }}" required="required">{% if form.body %}{{ form.body }}{% endif %}</textarea>  
        <label for="contactFormMessage">{{ 'contact.form.message' | t }}</label>

        </div>  
        <input type="submit" class="btn-reg" value="{{ 'contact.form.send' | t }}" />
      {% endform %}
    </div>

  </div>
  
  
</section>

  {% schema %}
  
  {
    "name": "Contact",
    "class": "contact-section",
    "settings": [
      
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Contact Us"
      },      
      { 
        "type": "image_picker", 
        "id": "image", 
        "label": "Hero Image"
      },
      { 
        "type": "url", 
        "id": "hero_img_url", 
        "label": "Image URL" 
      },          
      {
        "type": "richtext",
        "id": "divider_description",
        "default": "<p></p>",
        "label": "Description"
      }      
    ]
  }
  
  {% endschema %}
  {% comment %}theme-check-enable{% endcomment %}
