<!--/ page handle diffrentiates with each page -->
{% comment %}theme-check-disable{% endcomment %}


<div class="container">
  <div class="row">
    {% assign page_handle = page.handle %}

    {% if section.blocks.size > 0 %}

      {% for block in section.blocks %}
        <!--/ ONLY print specific page data -->
        {% if block.settings.page_handle == page_handle %}
          
          {% assign item = block.settings %}
          {% case block.type %}
            {% when 'text_block' %}
            <h1 class="h3">{{ item.page_title }}</h1>  
            <a href="{{ item.link }}"><img src="{{ item.image | img_url: 'medium' }}" class="W-100" loading=lazy></a>      
            <div class="my-4">{{ item.description }}</div> 

            {% when 'video_url' %}
              <h1 class="h3">{{ item.page_title }}</h1> 
              
                {% comment %} <iframe src="https://www.youtube.com/embed/{{ item.video_url.id }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen onload='javascript:(function(o){o.style.height=o.contentWindow.document.body.scrollHeight+"px";}(this));' style="height:315px;width:560px;border:none;overflow:hidden;"></iframe> {% endcomment %}

                {% comment %} <iframe id="iFrame" src="https://www.youtube.com/embed/{{ item.video_url.id }}" onload='javascript:(function(o){o.style.height=o.contentWindow.document.body.scrollHeight+"px";}(this));'  style="height:315px;width:460px;border:none;overflow:hidden;" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> {% endcomment %}
                <div data-iframe-height="iFrameResizer">


                <iframe id="iFrameSection" src="https://www.youtube.com/embed/{{ item.video_url.id }}"  frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

                </div> 
            {% comment %} {% when 'richtext' %}     {% endcomment %}
            <div class="my-4">{{ item.description }}</div>   

          {% endcase %}  
         
          <!--/ To print content of particular page -->
          {% comment %}
            {% assign page_content = block.settings.page_handle %}  
                {{ pages[page_content].content }}
          {% endcomment %}
          {% if block.type == 'video_url' %}                   
                  
            
          
          {% endif %}
        {% endif %}
      {% endfor %}

    {% endif %}
  </div>
</div>

{% schema %}
  {
    "name": "Dynamic Section 1",
    "class": "index-section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Common Title"
      }
    ],
    "blocks": [
      {
        "type": "text_block",
        "name": "Page Management",        
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Common Title"
          },
		      {
            "type": "page",
            "id": "page_handle",
            "label": "Select a page"
          },
          {
            "type": "text",
            "id": "page_title",
            "label": "Page title"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        },
          {
            "type": "url",
            "id": "link",
            "label": "URL"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description"
      } 
        ]
      },
      {
        "type": "video_url",
        "name": "Video",       
        "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Common Title"               

            },
            {
                "type": "video_url",
                "id": "video_url",
                "accept": ["youtube","vimeo"],                    
                "label": "Video URL"
            },
            
            {
              "type": "page",
              "id": "page_handle",
              "label": "Select a page"
            },
            {
              "type": "text",
              "id": "page_title",
              "label": "Video Page Title"
            },
            {
              "type": "richtext",
              "id": "description",
              "label": "Video Description"
          } 

        ]
    }
    ]
  }
{% endschema %}


{% comment %} <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> 
    <script type="text/javascript" src="./assets/iframeResizer.min.js"></script>
    <script type="text/javascript" src="./assets/iframeResizer.contentWindow.js"></script> {% endcomment %}
    <script>
      
      iFrameResize({log: false ,
        autoResize: true,
        checkOrigin: false,
        minHeight: 315,
        minWidth: '100%',
        sizeHeight: true,
        sizeWidth: true,
        warningTimeout: 0,        
        heightCalculationMethod: 'taggedElement'
      }, '#iFrameSection')
    </script>

    <script>
      
    </script>
    

    {% comment %} <script type="text/javascript">
      

      var callbackDisplay = 'p#callback'

      iFrameResize({
        log: true, // Enable console logging
        inPageLinks: true,
        onResized: function (messageData) {
          // Callback fn when resize is received
          $(callbackDisplay).html(
            '<b>Frame ID:</b> ' +
              messageData.iframe.id +
              ' <b>Height:</b> ' +
              messageData.height +
              ' <b>Width:</b> ' +
              messageData.width +
              ' <b>Event type:</b> ' +
              messageData.type
          )
        },
        onMouseEnter: function (messageData) {
          // Callback fn when mouse enters iframe
          $(callbackDisplay).html(
            '<b>Frame ID:</b> ' +
              messageData.iframe.id +
              ' <b>ScreenX:</b> ' +
              messageData.screenX +
              ' <b>ScreenY:</b> ' +
              messageData.screenY +
              ' <b>Event type:</b> ' +
              messageData.type
            )
        },
        onMouseLeave: function (messageData) {
          // Callback fn when mouse enters iframe
          $(callbackDisplay).html(
            '<b>Frame ID:</b> ' +
              messageData.iframe.id +
              ' <b>ScreenX:</b> ' +
              messageData.screenX +
              ' <b>ScreenY:</b> ' +
              messageData.screenY +
              ' <b>Event type:</b> ' +
              messageData.type
          )
        },
        onMessage: function (messageData) {
          // Callback fn when message is received
          $(callbackDisplay).html(
            '<b>Frame ID:</b> ' +
              messageData.iframe.id +
              ' <b>Message:</b> ' +
              messageData.message
          )
          alert(messageData.message)
          document
            .getElementsByTagName('iframe')[0]
            .iFrameResizer.sendMessage('Hello back from parent page')
        },
        onClosed: function (id) {
          // Callback fn when iFrame is closed
          $(callbackDisplay).html('<b>IFrame (</b>' + id + '<b>) removed from page.</b>')
        },

      })
    </script> {% endcomment %}
    {% comment %}theme-check-enable{% endcomment %}