{% comment %}theme-check-disable{% endcomment %}
<div class="container">
  <div class="row">
    {% assign page_handle = page.handle %}

    {% if section.blocks.size > 0 %}

      {% for block in section.blocks %}
        <!--/ ONLY print specific page data -->
        {% if block.settings.page_handle == page_handle %}
          
          {% assign item = block.settings %}
          {% case block.type %}
            {% when 'text_block' %}
            <h1 class="h3 text-center">{{ item.page_title }}</h1>  
            <a class="text-center" href="{{ item.link }}"><img src="{{ item.image | img_url: 'medium' }}" class="W-100" loading=lazy alt="{{ item.description }}"></a>      
            <div class="my-4">{{ item.description }}</div> 

            {% when 'video_url' %}
              <h1 class="h3">{{ item.page_title }}</h1>               
                <div class="w-100 mx-auto">
                <div class="ratio ratio-16x9">
                <!-- Use the element. You may use it before the lite-yt-embed JS is executed. -->
                <lite-youtube videoid="{{ item.video_url.id }}" playlabel="Play: Keynote (Google I/O '18)"></lite-youtube>
                </div>
              </div>


            {% comment %} {% when 'richtext' %}     {% endcomment %}
            <div class="my-4">{{ item.description }}</div>   

          {% endcase %}  
         
          <!--/ To print content of particular page -->
          {% comment %}
            {% assign page_content = block.settings.page_handle %}  
                {{ pages[page_content].content }}
          {% endcomment %}
          {% if block.type == 'video_url' %}                   
                  
            
          
          {% endif %}
        {% endif %}
      {% endfor %}

    {% endif %}
  </div>
</div>

{% schema %}
  {
    "name": "Dynamic Section 1",
    "class": "index-section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Common Title"
      }
    ],
    "blocks": [
      {
        "type": "text_block",
        "name": "Page Management",        
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Common Title"
          },
		      {
            "type": "page",
            "id": "page_handle",
            "label": "Select a page"
          },
          {
            "type": "text",
            "id": "page_title",
            "label": "Page title"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        },
          {
            "type": "url",
            "id": "link",
            "label": "URL"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description"
      } 
        ]
      },
      {
        "type": "video_url",
        "name": "Video",       
        "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Common Title"               

            },
            {
                "type": "video_url",
                "id": "video_url",
                "accept": ["youtube","vimeo"],                    
                "label": "Video URL"
            },
            
            {
              "type": "page",
              "id": "page_handle",
              "label": "Select a page"
            },
            {
              "type": "text",
              "id": "page_title",
              "label": "Video Page Title"
            },
            {
              "type": "richtext",
              "id": "description",
              "label": "Video Description"
          } 

        ]
    }
    ]
  }
{% endschema %}
{% comment %}theme-check-enable{% endcomment %}