{% comment %}theme-check-disable{% endcomment %}
{%- liquid 
    
assign xxlcard = settings.xxl_card 
assign xlcard = settings.xl_card 
assign lcard = settings.l_card 
assign mcard = settings.m_card 
assign scard = settings.s_card 
assign xscard = settings.xs_card 
assign xsoverride = settings.xsoverride_card 
assign cardwidth = settings.card_img_width_frontpage 
assign cardheight = settings.card_img_height_frontpage 

assign offset_products = section.settings.offset_products 
assign number_of_products = section.settings.number_of_products 
assign randomize = section.settings.randomize 
assign section_id = section.settings.section_id 

assign min = 0 
assign max = offset_products 
assign diff = max | minus: min 
assign random_number = "now" | date: "%S" | modulo: diff | plus: min 

assign limit_products = "limit: " | append: number_of_products 
assign offset_products = "offset: " | append: random_number    
-%}

<section class="container py-4">
     <h2 class="text-center my-3">{{ section.settings.title }}</h2>
     <div id="prdRow" class="row d-flex g-3 row-cols-xxl-{{ xxlcard }} row-cols-xl-{{ xlcard }} row-cols-lg-{{ lcard }} row-cols-md-{{ mcard }} row-cols-sm-{{ scard }} row-cols-{{ xscard }} row-cols-{{ xsoverride }} py-5">

        {% if randomize == true  %}   
            {% for product in collections[section.settings.featured_collection].products limit: number_of_products offset: random_number %}

                {% render 'prd-card' , product: product, section_id: section_id , cardwitdh : cardwidth , cardheight : cardheight %}

            {% endfor %} 
           
        {% else %} 

            {% for product in collections[section.settings.featured_collection].products limit: number_of_products %}

            {% render 'prd-card' , product: product , section_id: section_id , cardwitdh : cardwidth , cardheight : cardheight %}

            {% endfor %}           

        {% endif %}


     </div>
     
 </section>

 {% render 'prd-modal' %}
 
 
{% schema %}
{
    "name": "Featured Collection",
    "class": "featured-collection-section",
    "settings": [
   {
        "type": "collection",
        "id": "featured_collection",
        "label": "Collection"
    },
    {
        "type": "text",
        "id": "section_id",
        "default": "featured",
        "label": "Section Unique Title / ID"
    },
    {
        "type": "text",
        "id": "title",
        "default": "Featured Collection",
        "label": "Title"
    },
    {
        "type": "range",
        "id": "number_of_products",
        "label": "Number of Products to Show",
        "default": 10,
        "min": 1,
        "max": 25,
        "step": 1
    },
    {
        "type": "checkbox",
        "id": "randomize",
        "default": true,
        "label": "Randomize"

    },
    {
        "type": "range",
        "id": "offset_products",
        "label": "Random Offset Max",
        "default": 5,
        "min": 5,
        "max": 100,
        "step": 1
    }                
    ],
    "presets": [
    {
        "category": "collection",
        "name": "Featured Collection"
    }
    ]
}
{% endschema %}

<style>
input {
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid #ced4da;
}
    
.form-select {
    border-left: none;
    border-right: none;
    border-top: none;
}

</style>

{% comment %}theme-check-enable{% endcomment %}
