{% comment %}theme-check-disable{% endcomment %}
{%- liquid 
    assign footerbgcolor = section.settings.footer_bgcolor
            
-%}

<footer class="footer-section py-5 mt-0 footer-bgcolor">
    <div class="container">
        <div class="row row-cols-1 row-cols-lg-{{ section.settings.col_num }} row-cols-md-{{ section.settings.col_num | minus : 2 }} d-flex">
            {% for block in section.blocks %}
                {% assign item = block.settings %}
                {% if block.type == 'link_list' %}
                    <div class="col">
                        <p class="text-header-title" style="font-size:1.25rem;">{{ item.title }}</p>
                        {% assign footer_linklist = item.menu %}
                        <ul class="list-unstyled text-small">
                            {% for link in linklists[footer_linklist].links %}
                                <li>
                                    <a href="{{ link.url }}">{{ link.title | escape }}</a>
                                </li>                       
                            {% endfor %}                    
                        </ul>
                    </div>    
                 {% else if block.type == 'text' %}
                    <div class="col">
                        {% if item.logo %} 
                        <img src="{{ item.logo | img_url: 'medium' }}" class="mb-5">
                        {% endif %}
                            <p class="text-header-title" style="font-size:1.25rem;">{{ item.title }}</p>
                            <p>{{ item.description }}</p>
                     </div>                                           
                {% endif %}                
            {% endfor %}
        </div>
    </div>
    {% if section.settings.enable_payment_type_icons %}
        <div class="container justify-content-center d-flex">
            {% for payment_type in shop.enabled_payment_types %}
                <img width="38" height="24" src="{{ payment_type | payment_type_img_url}}" alt="">
                
            {% endfor %}
            </div>        
    {% endif %}
    <p class="copy-right">
        © Copyright {{ shop.name }}. All rights reserved.
    </p>
    

</footer>
{% comment %} {{ 'bootstrap.min.js' | asset_url | script_tag }}
{{ 'application.js' | asset_url | script_tag }} {% endcomment %}
    
{% schema %}
    {
        "name": "Footer",       
        "settings" : [
            {
                "type": "range",
                "id": "col_num",
                "default": 3,
                "min": 2,
                "max": 4,
                "label": "Number of columns"

            },
            {
                "type": "checkbox",
                "id": "enable_payment_type_icons",
                "label": "Show Payment Type Icons",
                "default": true
            },
            {
                "type": "color",
                "id": "footer_bgcolor",
                "label": "Footer Background Color",
                "default": "#f8f9fa"
            }
        ],
        "blocks": [
            {
                "type": "link_list",
                "name": "Navigation",
                "settings": [
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Title",
                        "default": "Quick Links"
                    },
                    {
                        "type": "link_list",
                        "id": "menu",
                        "label": "Menu"
                    }
                ]
            },
            {
                "type": "text",
                "name": "Store details",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "logo",
                        "label": "Store Logo"
                    },
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Heading",
                        "default": "Store information"
                    },
                    {
                        "type": "richtext",
                        "id": "description",
                        "label": "Text"
                    }
                ]
            }    
        ]
    }
{% endschema %}

<style>
    .footer-bgcolor {
        background-color: {{ footerbgcolor }};
    }

    .copy-right { 
        color: rgba(0,0,0,.7); 
        font-size: 0.8rem;
        text-align: center;        
        text-shadow: 0 1px rgba(255, 255, 255, 0.1);}
</style>
{% comment %}theme-check-enable{% endcomment %}
