{% comment %}theme-check-disable{% endcomment %}
<a href="#" class="close-navbar-toggler collapsed" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"></a>
<nav id="navBar" class="navbar navbar-expand-lg navbar-light fixed-top navbar-color">
  
  <div class="container py-0">     
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
    <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="{{ routes.root_url }}">{{ shop.name }}</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        {% for link in linklists.main-menu.links %} {% assign child_list_handle
        = link.title | handleize %} {% if linklists[child_list_handle].links !=
        blank %}
        <li class="nav-item">
          <a class="nav-link" href="{{ link.url }}">{{ link.title }}</a>
        </li>
        [{% for childlink in linklists[child_list_handle].links %}
        <li class="nav-item">
          <a class="nav-link" href="{{ childlink.url }}">{{
            childlink.title | escape
          }}</a>
        </li>
        {% endfor %}] {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{{ link.url }}">{{ link.title }}</a>
        </li>
        {% endif %} {% endfor %}
        <li class="nav-item">
         
        </li>
      </ul>

      <ul class="navbar-nav">        
        {% if shop.customer_accounts_enabled %} 
            {% if customer %}              
              <li class="nav-item">
              <a class="nav-link" href="{{ routes.account_url }}">{{ 'general.layout.account_text' | t }}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ routes.account_logout_url }}">{{ 'general.layout.logout_text' | t }}</a>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{{ routes.account_login_url }}">{{ 'general.layout.login_text' | t }}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ routes.account_register_url }}">{{ 'general.layout.register_text' | t }}</a>
              </li>
            {% endif %} 
        {% endif %}
      </ul>
      
      <div class="pe-2 py-2">
      
      <!-- <form action="{{ routes.search_url }}" method="GET" role="search"> -->
        <form action="javascript:void(0);" method="GET" role="search">
       <input style="font-size:0.9rem;" type="text" placeholder="quick search .." name="q" value="{{ search.terms | escape }}" id="searchInputField"> 
       </form>
      </div>

    </div>
    <div class="px-0">
    <div style="display:inline-block;">
      <a href="/pages/wishlist" id="button-wishlist-cart"><svg class="heart-badge" alt="wishlist cart">{% render 'heart-badge' %}</svg></a> 
    </div>  
      <div id="cart-icon" style="display:inline-block;">
      {% comment %} <a href="{{ routes.cart_url }}"><img src="{{ 'cart24.png' | asset_img_url: 'master'}}" width="24" height="24" alt="shopping cart"><span id="numberOfCartItems" class="d-none badge rounded-pill" style="opacity:1;margin-left:-5px;">0</span></a> {% endcomment %}
      <a href="{{ routes.cart_url }}"><svg class="heart-badge" alt="cart">{% render 'cart-icon' %}</svg><a><span id="numberOfCartItems" class="d-none badge rounded-pill" style="opacity:1;margin-left:-5px;">0</span></a>

    </div>
  </div>
  </div>
</nav>

<div class="offcanvas offcanvas-end" tabIndex="-1" id="offcanvasSearchResult" aria-labelledby="offcanvasLabel" style="z-index: 1250">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasLabel">Product Search Result</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body" id="search_results_body">  
    </div>
</div>

<style>
  .navbar{
    /*   z-index should be above .close-navbar-toggler */
      z-index:2;
    }
    .close-navbar-toggler{
      position:absolute;
      top:0;
      left:0;
      height:100%;
      width:100%;
      z-index:1;
      cursor:pointer;
    }

    .close-navbar-toggler.collapsed{
      z-index:-1;
    }

    body .navbar-light .navbar-toggler {
      color: #760822;
      border-color: #760822;
    }

    input {
      border-left: none !important;
      border-right: none !important;
      border-top: none !important;
      border-bottom: 1px solid #ced4da !important;
  }

  .heart-badge {
    fill: transparent;
    stroke: #11171B;
    transition: fill 0.3s ease;
  }

  .active .heart-badge {
    fill: #F652A0;
    stroke: transparent;
  }  
</style>
{% comment %}theme-check-enable{% endcomment %}