  <!-- Hero slider-->
{% comment %}theme-check-disable{% endcomment %}
{% case request.page_type %}
    
  {% when 'page' %}
    {% assign page_handle = page.handle %}    

  {% when 'collection' %}
    {% assign collection_handle = collection.handle %}
    
  {% when 'product' %}
    {% assign product_handle = product.handle %}     
    
{% endcase %}

{% assign colortexthover = section.settings.color_text_hover %}

{% for block in section.blocks %}

  {% if block.settings.unique_id %}
    {% assign swiper_id = block.settings.unique_id %}  
    {% endif %}
  
  {% if block.settings.slide_effect %}
    {% assign slide_effect = block.settings.slide_effect %}
  {% endif %}

  {% if block.settings.delay %}
    {% assign slide_delay = block.settings.delay %}
  {% endif %}

  {% if block.settings.speed %}
    {% assign slide_speed = block.settings.speed %}
  {% endif %}

  {% if block.settings.height %}
    {% assign slider_height = block.settings.height %}
  {% endif %}

  {% for collection in product.collections %}    
      {% if collection.handle == block.settings.collection_handle %}
        {% assign collection_handle = collection.handle %}
      {% endif %}
  {% endfor %}    

  {% if block.settings.page_handle == page_handle  or template == 'index' or block.settings.collection_handle == collection_handle or block.settings.product_handle == product_handle %}

  <section class="container-fluid mx-0 px-0 py-0">      
  {% if slider_height  %}
      <style scoped>
        .swiper-container-{{ swiper_id }} {
          overflow: hidden;
          height: {{ slider_height }}vh !important;          
        }          
      </style>
  {% endif %}  
  
  <div class="swiper-container heroswiper-gallery swiper-container-{{ swiper_id }}" id="hero-slider-{{- swiper_id -}}" unique-id="{{ swiper_id }}" effect="{{ slide_effect }}" delay="{{ slide_delay }}" speed="{{ slide_speed }}">
     <div class="swiper-wrapper">

        {% if block.type == 'hero_slider' %}         
        
            {% if block.settings.image_slide != blank %}
              {% assign hero_url = block.settings.image_slide | img_url: 'master' %} 
            {% else %}
              {% assign hero_url = block.settings.hero_slide_img_url %}
            {% endif%}
             <style scoped>              
                  .slide-1-{{ swiper_id }} {
                    background: url({{ hero_url }}) no-repeat center center;
                    background-size: cover;                    
                  }                              
              </style>      

            {% if block.settings.image_mobile_slide != blank %}
              {% assign hero_url_mobile = block.settings.image_mobile_slide | img_url: 'master' %} 
              <style scoped>              
                @media only screen and (max-width: 499px) {
                  .slide-1-{{ swiper_id }} {
                    background: url({{ hero_url_mobile }}) no-repeat center center;
                    background-size: cover;                    
                  }
                }               
              </style>                          
            {% endif %}

            <!--story backdrop -->
            {% assign hidefilterbackdrop = block.settings.hide_filter_backdrop %}
            {% unless hidefilterbackdrop %}
              <style scoped>      
                @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
                  .backdrop-slide-1-{{ swiper_id }} {
                    padding-top: 2px;
                    padding-bottom: 2px;
                    padding-left: 10px;
                    padding-right: 10px;
                    border-radius: 2px;
                    background-color: rgba(255, 255, 255, 0.35); 
                    -webkit-backdrop-filter: blur(10px);
                    backdrop-filter: blur(10px);
                  }
                }              
                
                /* slightly transparent fallback for Firefox (not supporting backdrop-filter) */
                @supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
                  .backdrop-slide-1-{{ swiper_id }} {
                    padding-top: 2px;
                    padding-bottom: 2px;
                    padding-left: 10px;
                    padding-right: 10px;
                    border-radius: 2px;
                    background-color: rgba(255, 255, 255, .5);
                  }
                }
              </style>
            {% endunless %}
            
            {% assign desctextsize = "font-size : " | append:  block.settings.font_size_main | append: 'px !important;' %}                        
            {% assign textcolormain = "color : " | append:  block.settings.color_text_main | append: ' !important;' %}
            {% assign titlecolormain = "color : " | append:  block.settings.color_title_main | append: ' !important;' %}
            {% assign subtitlecolormain = "color : " | append:  block.settings.color_subtitle_main | append: ' !important;' %}
            {% assign slide_effect = block.settings.slide_effet %}         
   
            <div class="swiper-slide hero bg-center bg-cover d-flex align-items-center slide-1-{{ swiper_id }}">
              <div class="container">
                <div class="row text-lg-center">
                  <div class="col-lg-8">
                    <div class="backdrop-slide-1-{{ swiper_id }}">
                    
                    <p class="h6 text-uppercase text-muted mb-3" style="{{ subtitlecolormain }}">{{ block.settings.title }}</p>
                    <h1 class="hero-heading line-height-sm mb-2 title" data-swiper-parallax="-200" style="{{ titlecolormain }}">{{ block.settings.header }}</h1>
                    <div class="row">
                      <div class="col-lg-5 mx-auto">
                        <p class="font-weight-light text-muted mb-4 mt-3 subtitle" data-swiper-parallax="-400" style="{{ textcolormain }}{{ desctextsize }}">{{ block.settings.description | strip_html }}</p>
                      </div>
                    </div>
                    </div>    
                   {% if block.settings.button_link != blank %} <a class="btn-reg text" href="{{ block.settings.button_link }}" data-swiper-parallax="-600"> <i class="fas fa-shopping-bag me-2"></i>{{ block.settings.button_label }}</a>{% endif %}
                  </div>
                </div>
              </div>
            </div>

            {% if block.settings.image_slide2 != blank %}
              {% assign hero_url2 = block.settings.image_slide2 | img_url: 'master' %} 
            {% else %}
              {% assign hero_url2 = block.settings.hero_slide_img_url2 %}
            {% endif%}            

            {% assign desctextsize2 = "font-size : " | append:  block.settings.font_size_main2 | append: 'px !important;' %}                        
            {% assign textcolormain2 = "color : " | append:  block.settings.color_text_main2 | append: ' !important;' %}
            {% assign titlecolormain2 = "color : " | append:  block.settings.color_title_main2 | append: ' !important;' %}
            {% assign subtitlecolormain2 = "color : " | append:  block.settings.color_subtitle_main2 | append: ' !important;' %}

            <style scoped>              
                  .slide-2-{{ swiper_id }} {
                    background: url({{ hero_url2 }}) no-repeat center center;
                    background-size: cover;                    
                  }                              
            </style>      

            {% if block.settings.image_mobile_slide2 != blank %}
              {% assign hero_url_mobile2 = block.settings.image_mobile_slide2 | img_url: 'master' %} 
              <style scoped>              
                @media only screen and (max-width: 499px) {
                  .slide-2-{{ swiper_id }} {
                    background: url({{ hero_url_mobile2 }}) no-repeat center center;
                    background-size: cover;                    
                  }
                }               
              </style>                          
            {% endif %}

            <!--story backdrop -->
            {% assign hidefilterbackdrop2 = block.settings.hide_filter_backdrop2 %}
            {% unless hidefilterbackdrop2 %}
              <style scoped>      
                @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
                  .backdrop-slide-2-{{ swiper_id }} {
                    padding-top: 2px;
                    padding-bottom: 2px;
                    padding-left: 10px;
                    padding-right: 10px;
                    border-radius: 2px;
                    background-color: rgba(255, 255, 255, 0.35); 
                    -webkit-backdrop-filter: blur(10px);
                    backdrop-filter: blur(10px);                    
                  }
                }                              
                /* slightly transparent fallback for Firefox (not supporting backdrop-filter) */
                @supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
                  .backdrop-slide-2-{{ swiper_id }} {
                    padding-top: 2px;
                    padding-bottom: 2px;
                    padding-left: 10px;
                    padding-right: 10px;
                    border-radius: 2px;
                    background-color: rgba(255, 255, 255, .5);
                  }
                }
              </style>
            {% endunless %}

            <div class="swiper-slide hero bg-center bg-cover d-flex align-items-center slide-2-{{ swiper_id }}">
              <div class="container">
                <div class="row text-lg-center">
                  <div class="col-lg-8">
                    <div class="backdrop-slide-2-{{ swiper_id }}">
                    <p class="h6 text-uppercase text-muted mb-3" style="{{ subtitlecolormain2 }}">{{ block.settings.title2 }}</p>
                    <h1 class="hero-heading line-height-sm mb-2 title" data-swiper-parallax="-200" style="{{ titlecolormain2 }}">{{ block.settings.header2 }}</h1>
                    <div class="row">
                      <div class="col-lg-5 mx-auto">
                        <p class="font-weight-light text-muted mb-4 mt-3 subtitle" data-swiper-parallax="-400" style="{{ textcolormain2 }}{{ desctextsize2 }}">{{ block.settings.description2 | strip_html }}</p>
                      </div>
                    </div>
                  </div>
                  {% if block.settings.button_link2 != blank %} <a class="btn-reg text" href="{{ block.settings.button_link2 }}" data-swiper-parallax="-600"> <i class="fas fa-shopping-bag me-2"></i>{{ block.settings.button_label2 }}</a>{% endif %}
                  </div>
                </div>
              </div>
            </div>

            {% if block.settings.image_slide3 != blank %}
              {% assign hero_url3 = block.settings.image_slide3 | img_url: 'master' %} 
            {% else %}
              {% assign hero_url3 = block.settings.hero_slide_img_url3 %}
            {% endif%}

            {% assign desctextsize3 = "font-size : " | append:  block.settings.font_size_main3 | append: 'px !important;' %}                        
            {% assign textcolormain3 = "color : " | append:  block.settings.color_text_main3 | append: ' !important;' %}
            {% assign titlecolormain3 = "color : " | append:  block.settings.color_title_main3 | append: ' !important;' %}
            {% assign subtitlecolormain3 = "color : " | append:  block.settings.color_subtitle_main3 | append: ' !important;' %}

            {% assign slide_effect = block.settings.slide_effet %}

            <style scoped>              
            .slide-3-{{ swiper_id }} {
              background: url({{ hero_url3 }}) no-repeat center center;
              background-size: cover;                    
            }                              
            </style>      

            {% if block.settings.image_mobile_slide3 != blank %}
              {% assign hero_url_mobile3 = block.settings.image_mobile_slide3 | img_url: 'master' %} 
              <style scoped>              
                @media only screen and (max-width: 499px) {
                  .slide-3-{{ swiper_id }} {
                    background: url({{ hero_url_mobile3 }}) no-repeat center center;
                    background-size: cover;                    
                  }
                }               
              </style>                          
            {% endif %}

             <!--story backdrop -->
             {% assign hidefilterbackdrop3 = block.settings.hide_filter_backdrop3 %}
             {% unless hidefilterbackdrop3 %}
               <style scoped>      
                 @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
                   .backdrop-slide-3-{{ swiper_id }} {
                    padding-top: 2px;
                    padding-bottom: 2px;
                    padding-left: 10px;
                    padding-right: 10px;
                    border-radius: 2px;
                    background-color: rgba(255, 255, 255, 0.35); 
                    -webkit-backdrop-filter: blur(10px);
                    backdrop-filter: blur(10px);
                   }
                 }              
                 
                 /* slightly transparent fallback for Firefox (not supporting backdrop-filter) */
                 @supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
                   .backdrop-slide-3-{{ swiper_id }} {
                    padding-top: 2px;
                    padding-bottom: 2px;
                    padding-left: 10px;
                    padding-right: 10px;
                    border-radius: 2px;
                    background-color: rgba(255, 255, 255, .5);
                   }
                 }
               </style>
             {% endunless %}

            <div class="swiper-slide hero bg-center bg-cover d-flex align-items-center slide-3-{{ swiper_id }}">
              <div class="container">
                <div class="row text-lg-center">
                  <div class="col-lg-8">
                    <div class="backdrop-slide-3-{{ swiper_id }}">
                    <p class="h6 text-uppercase text-muted mb-3" style="{{ subtitlecolormain3 }}">{{ block.settings.title3 }}</p>
                    <h1 class="hero-heading line-height-sm mb-2 title" data-swiper-parallax="-200" style="{{ titlecolormain3 }}">{{ block.settings.header3 }}</h1>
                    <div class="row">
                      <div class="col-lg-5 mx-auto">
                        <p class="font-weight-light text-muted mb-4 mt-3 subtitle" data-swiper-parallax="-400" style="{{ textcolormain3 }}{{ desctextsize3 }}">{{ block.settings.description3 | strip_html }}</p>
                      </div>
                    </div>
                  </div>
                  {% if block.settings.button_link3 != blank %}<a class="btn-reg text" href="{{ block.settings.button_link3 }}" data-swiper-parallax="-600"><i class="fas fa-shopping-bag me-2"></i>{{ block.settings.button_label3 }}</a></div>{% endif %}
                </div>
              </div>
            </div>         
          </div>
        {% endif %}
      <div class="swiper-pagination-{{ swiper_id }} px-4 py-2 text-end h5 font-weight-light"></div>
    </div>

  </section>
{% endif %}

    {% endfor %}
    

{{ 'application.css' | asset_url | stylesheet_tag }}  


{% schema %}
    
{ 
    "name": "Hero Slider", 
    "class": "section", 
    "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Common Title"
          },
          {
              "type": "color",
              "id": "color_text_hover",
              "label": "Link hover color",
              "default": "#eeeeee"              
            }           
      ],
    "blocks": [
      {
        "type": "hero_slider",
        "name": "Hero Slider ",  
        "settings": [ 
          {
            "type": "page",
            "id": "page_handle",
            "label": "Select a page"
          },
          {
            "type": "collection",
            "id": "collection_handle",
            "label": "Select a collection"
          },
          {
            "type": "product",
            "id": "product_handle",
            "label": "Select a product"
          },
          {
            "type": "text",
            "id": "unique_id",
            "label": "Slider Unique id / name"
          }, 
          {
            "type": "range",
            "id": "height",
            "label": "Slider View Port Height",
            "default": 100,
            "unit": "%",
            "min": 40,
            "max": 100,
            "step": 1
          },                            
          {
            "type": "text",
            "id": "slide_effect",
            "label": "Slide Effect",
            "default": "slide"
          },
          {
            "type": "number",
            "id": "speed",
            "label": "Speed",
            "default": 700
          },             
          {
            "type": "number",
            "id": "delay",
            "label": "Delay",
            "default": 2500
          },                
          {
            "type": "header",
            "content": "Slide 1"
          },
          { "type": "image_picker", 
            "id": "image_slide", 
            "label": "Slide Background Image"
          },
          { "type": "image_picker", 
            "id": "image_mobile_slide", 
            "label": "Mobil Slide Background Image"
          },
          { "type": "url", 
            "id": "hero_slide_img_url", 
            "label": "Slide Image URL" 
          },
          { "type": "text", 
            "id": "title", 
            "default": "Example Title",
            "label": "Slide Title"
          },
          { "type": "text", 
            "id": "header", 
            "default": "Example Header",
            "label": "Slide Header"
          },
          { "type": "richtext", 
            "id": "description", 
            "default": "<p>Example paragraph</p>",
            "label": "Slide Description" 
          },          
          { "type": "text", 
            "id": "button_label", 
            "default": "Button",
            "label": "Button Label" 
          },
          { "type": "url", 
          "id": "button_link", 
          "label": "Button Link" 
          },         
          {
            "type": "checkbox",
            "id": "hide_filter_backdrop",
            "label": "Hide Back Drop",
            "default": true
          },
          {
            "type": "color",
            "id": "color_subtitle_main",
            "label": "Title color",
            "default": "#ffffff"
          },
          {
            "type": "color",
            "id": "color_title_main",
            "label": "Header color",
            "default": "#ffffff"
          },
          {
            "type": "color",
            "id": "color_text_main",
            "label": "Description color",
            "default": "#ffffff"
          },  
          {
            "type":   "range",
            "id":     "font_size_main",
            "min":    8,
            "max":    36,
            "step":   1,
            "unit":   "px",
            "label":  "Font size - Description",
            "default":   14
          },
          {
            "type": "header",
            "content": "Slide 2"
          },
          { "type": "image_picker", 
            "id": "image_slide2", 
            "label": "Slide Background Image"
          },
          { "type": "image_picker", 
            "id": "image_mobile_slide2", 
            "label": "Mobile Slide Background Image"
          },
          { "type": "url", 
            "id": "hero_slide_img_url2", 
            "label": "Slide Image URL" 
          },
          { "type": "text", 
            "id": "title2", 
            "default": "Example Title",
            "label": "Slide Title"
          },
          { "type": "text", 
            "id": "header2", 
            "default": "Example Header",
            "label": "Slide Header"
          },
          { "type": "richtext", 
            "id": "description2", 
            "default": "<p>Example paragraph</p>",
            "label": "Slide Description" 
          },          
          { "type": "text", 
            "id": "button_label2", 
            "default": "Button",
            "label": "Button Label" 
          },
          { "type": "url", 
          "id": "button_link2", 
          "label": "Button Link" 
          },
          {
            "type": "checkbox",
            "id": "hide_filter_backdrop2",
            "label": "Hide Back Drop",
            "default": true
          },
          {
            "type": "color",
            "id": "color_subtitle_main2",
            "label": "Title color",
            "default": "#ffffff"
          },
          {
            "type": "color",
            "id": "color_title_main2",
            "label": "Header color",
            "default": "#ffffff"
          },
          {
            "type": "color",
            "id": "color_text_main2",
            "label": "Description color",
            "default": "#ffffff"
          },  
          {
            "type":   "range",
            "id":     "font_size_main2",
            "min":    8,
            "max":    36,
            "step":   1,
            "unit":   "px",
            "label":  "Font size - Description",
            "default":   14
          },
          {
            "type": "header",
            "content": "Slide 3"
          },
          { "type": "image_picker", 
            "id": "image_slide3", 
            "label": "Slide Background Image"
          },
          { "type": "image_picker", 
            "id": "image_mobile_slide3", 
            "label": "Mobile Slide Background Image"
          },
          { "type": "url", 
            "id": "hero_slide_img_url3", 
            "label": "Slide Image URL" 
          },
          { "type": "text", 
            "id": "title3", 
            "default": "Example Title",
            "label": "Slide Title"
          },
          { "type": "text", 
            "id": "header3", 
            "default": "Example Header",
            "label": "Slide Header"
          },
          { "type": "richtext", 
            "id": "description3", 
            "default": "<p>Example paragraph</p>",
            "label": "Slide Description" 
          },         
          { "type": "text", 
            "id": "button_label3", 
            "default": "Button",
            "label": "Button Label" 
          },
          { "type": "url", 
          "id": "button_link3", 
          "label": "Button Link" 
          },
          {
            "type": "checkbox",
            "id": "hide_filter_backdrop3",
            "label": "Hide Back Drop",
            "default": true
          },
          {
            "type": "color",
            "id": "color_subtitle_main3",
            "label": "Title color",
            "default": "#ffffff"
          },
          {
            "type": "color",
            "id": "color_title_main3",
            "label": "Header color",
            "default": "#ffffff"
          },
          {
            "type": "color",
            "id": "color_text_main3",
            "label": "Description color",
            "default": "#ffffff"
          },  
          {
            "type":   "range",
            "id":     "font_size_main3",
            "min":    8,
            "max":    36,
            "step":   1,
            "unit":   "px",
            "label":  "Font size - Description",
            "default":   14
          }
          
        ]
      }
    ],      
        "presets": [
        {
          "category": "Hero",
          "name": "Hero Slider"
        }
      ]
  }
  
  {% endschema %}
  {% comment %}theme-check-enable{% endcomment %}
