{% comment %}theme-check-disable{% endcomment %}
{% assign xxlcard = settings.xxl_card %}
{% assign xlcard = settings.xl_card %}
{% assign lcard = settings.l_card %}
{% assign mcard = settings.m_card %}
{% assign scard = settings.s_card %}
{% assign xscard = settings.xs_card %}
{% assign xsoverride = settings.xsoverride_card %}
{% assign cardwidth = settings.card_img_width_coll %}
{% assign cardheight = settings.card_img_height_coll %}

<div class="container my-5">
{% for collection in collections %}
    {% unless collection.handle == 'frontpage' %}
      {% assign collection_title = collection.title | escape %}
      {% assign section_id = 'list-' | append : collection.handle %}

      <div class="row d-flex g-3 row-cols-xxl-{{ xxlcard }} row-cols-xl-{{ xlcard }} row-cols-lg-{{ lcard }} row-cols-md-{{ mcard }} row-cols-sm-{{ scard }} row-cols-{{ xscard }} row-cols-{{ xsoverride }} py-2">                                      
   
            {% for product in collection.products limit: 6 %}

              {% render 'prd-card' , product : product , section_id : section_id, cardwitdh : cardwidth , cardheight : cardheight %}  
              
                {% comment %} {% assign image = product.featured_media.preview_image %}
                <div class="col-3 g-2">
                    <div class="card" style="width: 18rem;">
                    <img src="{{ image | img_url : 'medium' }}" alt="{{ product.title}}" class="card-img-top">
                    <div class="card-body">
                    <h3><a href="{{ product.url }}">{{ product.title }}</a></h3>
                    <p>{{ product.price | money_without_trailing_zeros}}</p>
                    </div>
                    </div>                                   
                </div> {% endcomment %}
            {% endfor %}
        </div>
    {% endunless %}
  {% endfor %}
</div>  

{% render 'prd-modal' %}
{% comment %}theme-check-enable{% endcomment %}
