{% comment %}theme-check-disable{% endcomment %}

<section class="container py-5">
  {% paginate collection.products by 12 %}
  
    <h1 class="text-center py-2">{{ collection.title }}</h1>


    <div class="row row-cols-md-6 row-cols-sm-2">
      <div class="col">
        <div class="clearfix filter">
          <p>Sort by :</p>
          <select name="sorting" id="sort_by" class="form-select form-select-sm w-auto">
            {% for option in collection.sort_options %}
              <option value="{{ option.value }}"
              {% if option.value == collection.sort_by %}
                selected="selected"
              {% endif %}
            >{{ option.name }}</option>
            {% endfor %}
          </select>
        </div>  
      </div>
      
      <div class="col">
        <div class="clearfix filter">
          {% if collection.handle == 'collection' %}
            <p>Browse type:</p>
            <select name="filter_type" id="filter_by_type"  class="form-select form-select-sm w-auto">
            <option value="">All</option>
            {% for product_type in collection.all_types %}
            {% if current_tags contains product_type %}
            <option value="{{ product_type | handle }}" selected>{{ product_type }}</option>
            {% else %}
            <option value="{{ product_type | handle }}">{{ product_type }}</option>
            {% endif %}
            {% endfor %}
            </select>
          {% endif %}
        </div>   
    
      </div>

    </div>
  {% comment %} <div class="col justify-content-center">
    <div class="clearfix filter">
    {% if collection.handle == 'collection' %}
      <p>Browse by tag:</p>
      <select class="coll-filter">
      <option value="">All</option>
      {% for tag in collection.all_tags %}
      {% if current_tags contains tag %}
      <option value="{{ tag | handle }}" selected>{{ tag }}</option>
      {% else %}
      <option value="{{ tag | handle }}">{{ tag }}</option>
      {% endif %}
      {% endfor %}
      </select>
    {% endif %}
    </div>         
  </div> {% endcomment %}

 <div class="row d-flex g-3 row-cols-xxl-5 row-cols-lg-3 row-cols-md-2 row-cols-sm-2 row-cols-1 py-2">

    {% for product in collection.products %}
      {% assign image = product.featured_media.preview_image %}

      {% assign product_short_description = product.description | truncatewords: 15, '...' %}
      {% assign product_descriptions = product.description | split: '$$$$$$' %}

      {% assign product_descriptions_length = product_descriptions.size %}

      {% if product_descriptions_length > 1 %}
        {% assign product_short_description = product_descriptions[0] %}
        {% assign product_description = product_descriptions[1] %}

      {% endif %} 
           
        <div class="col d-flex">
          <div class="img-wrapper d-flex">

          <div class="card d-flex flex-fill border-0">
            
              <div class="card-img-top">
              {% if image != blank %}  
              <div class="inner-img">
                <a href="#" id="productInfoAnchor-{{ product.id }}" product-handle="{{ product.handle }}" 
                  product-price="{{ product.price | money_without_trailing_zeros }}"
                ><img class="card-img-top" width="640" height="360" src="{{  image | img_url:'master' }}" loading="lazy" alt="{{ product.title }}" 
                ></a>
                <div class="text-hover">BUY NOW</div>     
              </div>
              {% else %}             
              <div class="inner-img">
                {{ 'product-1' | placeholder_svg_tag: 'card-img-top' }}    
              </div>
              {% endif %}
              </div>
              
              <div class="card-body d-flex flex-column justify-content-end bg-light text-center">
                  <h5 class="h5"><a class="text-product-link" href="{{ product.url }}">{{ product.title }}</a></h5>    
                  <p span class="text-line"></p>
                  <p>{{ product.price | money_without_trailing_zeros }}</p>            
                  <p>
                  {% comment %} {% assign prddesc = product.description %} 
                  {% render 'product_description' , product_original_description : prddesc, description_type: 'short'  %}  %}  {% endcomment %}
                  {% comment %} {{ product_short_description}} {% endcomment %}
                </p>
              </div>        
            </div>
          </div> 
        </div>
                   
      {% else %}
        <p>no matches</p>
      {% endfor %}
  
  </div>
  
  {% render 'pagination' , paginate: paginate %}
  {% endpaginate %}

</section>

<div class="modal fade" id="productInfoModal" tabIndex="-1" data-bs-backdrop="static" aria-hidden="true" style="z-index:2000">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                      <div class="col-12 col-md-6">
                        <img class="img-fluid" style="max-height: 250px;" src="" id="productInfoImg" alt="">
                      </div>
                      <div class="col-12 col-md-6">
                        <h1 id="productInfoTitle" class="text-product-title"></h1>
                        <h3 id="productInfoPrice" class="text-product-desc"></h3>
                        <p id="productInfoDescription" class="text-product-desc"></p>
                      </div>
                </div>             
            </div>
            <div class="modal-footer">
            <form action="#" id="addToCartForm" class="row">
              <select name="id" id="modalItemID" class="form-select col-auto">
              </select>
            <input type="number" name="quantity" value="1" id="modalItemQuantity" min="1" class="col-auto">
            <button type="submit" id="btnAddToCart" class="btn-add-to-cart col-auto">Add to Cart</button>

            </form>
            </div>
        </div>
    </div>
</div>


{% comment %} <script>  

  var collFilters = jQuery('.coll-filter');
  collFilters.change(function() {
  var newTags = [];
  collFilters.each(function() { 
  if (jQuery(this).val()) {
  newTags.push(jQuery(this).val());
  }
  });
  if (newTags.length) {
  var query = newTags.join('+');
  window.location.href = jQuery('{{ 'tag' | link_to_tag: 'tag' }}').attr('href').replace('tag', query);
  } 
  else {
  {% if collection.handle %}
  window.location.href = '/collections/{{ collection.handle }}';
  {% elsif collection.products.first.type == collection.title %}
  window.location.href = '{{ collection.title | url_for_type }}';
  {% elsif collection.products.first.vendor == collection.title %}
  window.location.href = '{{ collection.title | url_for_vendor }}';
  {% endif %}
  }
  });
</script> {% endcomment %}
<script>  

  var collFilters2 = jQuery('#filter_by_type');
  collFilters2.change(function() {
  var newTags2 = [];
  collFilters2.each(function() { 
  if (jQuery(this).val()) {
  newTags2.push(jQuery(this).val());
  }
  });
  if (newTags2.length) {
  var query = newTags2.join('+');
  window.location.href = jQuery('{{ 'product_type' | link_to_tag: 'product_type' }}').attr('href').replace('product_type', query);
  } 
  else {
  {% if collection.handle %}
  window.location.href = '/collections/{{ collection.handle }}';
  {% elsif collection.products.first.type == collection.title %}
  window.location.href = '{{ collection.title | url_for_type }}';
  {% elsif collection.products.first.vendor == collection.title %}
  window.location.href = '{{ collection.title | url_for_vendor }}';
  {% endif %}
  }
  });
</script>
{% comment %}theme-check-enable{% endcomment %}
