{%- liquid 
assign xxlcard = settings.xxl_card
assign xlcard = settings.xl_card
assign lcard = settings.l_card
assign mcard = settings.m_card
assign scard = settings.s_card
assign xscard = settings.xs_card
assign xsoverride = settings.xsoverride_card
assign url_continueshopping = settings.url_continueshopping_wishlist 
-%}

<section class="container py-5" id="wishlist">
  <h1 class="text-center py-2">{{ page.title }}</h1>
  <div class="row d-flex g-3 row-cols-xxl-{{ xxlcard }} row-cols-xl-{{ xlcard }} row-cols-lg-{{ lcard }} row-cols-md-{{ mcard }} row-cols-sm-{{ scard }} row-cols-{{ xscard }} row-cols-{{ xsoverride }} py-2" grid-wishlist>
  {% comment %} <!-- <div class="grid" grid-wishlist> --> {% endcomment %}
    <div class="wishlist-spinner">
      <div class="spinner-border" role="status">
      </div>      
    </div>      
  </div>
  <div id="wishlist-text" class="row d-none">
    <p class="text-cart-empty">Wishlist is empty</p>        
  </div>  
</section>
<div class="text-center pb-2">
  <a href="{{ url_continueshopping }}"  class="btn-reg" title="Continue shopping">Continue shopping</a>
</div>

{% render 'prd-modal' %}

<style>
.form-select {
    border-left: none;
    border-right: none;
    border-top: none;
}
input {
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid #ced4da;
}

.wishlist-spinner {
  height: 100vh;
  width: 100vw;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
</style>
