{% paginate search.results by 10 %}

<div class="container py-5">
  <p class="text-header-title py-2">Search</p>
  <div class="row">
    <form action="/search" method="get" role="search">
      <input class="form-control py-2 mb-4 rounded-0 form-control-lg" type="search" name="q" value="{{ search.terms | escape }}">

      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="product_type" name="type" value="product">
        <label class="form-check-label  for="product_type">Product</label>        
      </div>      
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="product_type" name="type" value="article">
        <label class="form-check-label  for="product_type">Article</label>        
      </div>      
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="product_type" name="type" value="page">
        <label class="form-check-label  for="product_type">Page</label>        
      </div>      
      <button class="btn-reg" type="submit">Search</button>
    </form>
  </div>

  
  <div class="row d-flex row-cols-lg-4  row-cols-md-3 row-cols-sm-2 row-cols-1 g-2 py-2">
    {% if search.performed %}
      {% for item in search.results %}
        {% if item.object_type == 'product' %}          
          
        <div class="col d-flex">
          <div class="card shadow flex-fill">
            {% if item.featured_image %}
              <a href="{{ item.url | within: collection }}" title="{{ item.title | escape }}">
                <img src="{{ item.featured_image.src | img_url: 'master' }}" class="card-img-top" width="240" height="240" style="object-fit: cover;" loading="lazy" alt="{{ item.featured_image.alt }}">
               </a>
            {% endif %}
            <div class="card-body flex-fill">            
            <h5>{{ item.title | link_to: item.url }}</h5>
            <p>[collection] {% render 'product-description' , product: item, type: 'short' %}</p>
            </div>
          </div>
        </div>    

        {% else if item.object_type == 'article' %}

          <div class="col d-flex-fill">
            <div class="card shadow d-flex flex-fill">
              {% if item.image %}
                <a href="{{ item.url | within: collection }}" title="{{ item.title | escape }}">
                <img src="{{ item.image.src | img_url: 'master' }}" class="card-img-top" width="240" height="240" style="object-fit: cover;" loading="lazy" alt="{{ item.image.alt }}">
                </a>
              {% endif %}
              <div class="card-body flex-fill">
              
              <h5>{{ item.title | link_to: item.url }}</h5>
              <p>[blog] {{ item.content | strip_html | truncatewords: 20 }}</p>
              </div>
            </div>
          </div>    
      {% endif %}

      {% else %}
        <p class="text-cart-empty">No results</p>
      {% endfor %}
    
  </div>
  {% endif %}

</div>

<div class="row">
  {% render 'pagination', paginate: paginate %}
</div>

{% endpaginate %}
